html {
  box-sizing: border-box;
}
.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  user-select: none;
  font-weight: normal; 
  font-size: 100%;
}
li {
  list-style-type: none;
  display: inline;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family:"Forum", serif;
}
#background{
  width: 1440px;
}
.active_blur{
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}
.header {
  margin: 0 0;
  width: 1440px;
  align-items: center;
  justify-content: center;
  height: 90px;  
  background-color: #0C0C0E;
}
.header_container {
  display: flex;
  margin: 0 0;
  color: #FFFFFF;
  padding-top: 20px;
}
.header_headline { 
  margin: 0 0;
  height: 50px;
  width: 294px;
  font-size: 30px;
  align-content: center;
  letter-spacing: 0.02em;
  padding-left: 20px;
  padding-right: 0;
  font-weight: normal;
}
nav {
  top: 0;
  margin: 0 0;
  padding: 0 0;
  align-content: center;

}
.list {
  display: flex;
  margin: 0 0;
  font-size: 20px;
  height: 50px;
  width: 584px;
  padding-left: 454px;
  align-items: center;
  font-family: "Inter", sans-serif;
  line-height: 50px;
}

.list li {
  margin-right: 30px;
}

.list li:last-child {
  margin-right: 0;
}
.header_container .circle {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
  overflow: hidden; 
  width: 28px;
  height: 28px;
  left: 40px;
  right: 20px;
  top: 11px;
  margin: 0 0;
  border-radius: 50%;
  background-color:  none;
  border: none;
}
.header_container .circle::before {
  content : '';
  position: absolute; 
  display: block;
  width: 9.33px; 
  height: 9.33px;
  background: #0C0C0E;
  border-radius: 50%; 
  left: 50%; 
  top: 3.11px; 
  transform: translateX(-50%);
}    
.header_container .circle::after {
  content : '';
  display: block;
  width: 15.56px;
  height: 7.78px;
  background: #0C0C0E;
  border-radius: 50% / 100% 100% 0 0 ;
  position: absolute;
  left: 50%;
  margin-top: 14px;
  bottom: 6.22px;
  transform: translateX(-50%);
}
.circle.authorized_icon{
  align-items  : center;
 font-weight: normal;
 font-size: 15px;
 line-height: 20px;
 font-family: 'Inter';
 color: #000;
}
.circle.authorized_icon::before{
  display: none;
}
.circle.authorized_icon::after{
 display: none;
}
.drop_no_auth,
.drop_auth{
  display: flex;
  flex-wrap: wrap ;
  position: absolute;
  line-height: 20px;
  top: 90px;
  width: 80px;
  height: 0px;
  left: 1400px;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  background: #FFFFFF;
  z-index: 100;
  overflow: hidden;
  transition: height 0.5s;
}
.open{
  height: 115px;
}
.drop_no_auth h1,
.drop_auth h1{
  position: relative;
  width: 48px;
  height: 20px;
  margin-top: 5px;
  font-weight: 700;
}
.drop_no_auth .rectangle,
.drop_auth .rectangle{
  position: absolute;
  margin-top: 30px;
  height: 1px;
  width: 40px;
  border: none;
  background-color: #BB945F;
}
.drop_no_auth .container,
.drop_auth .container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 71px;
  height: 50px;
  text-align: center;
  justify-content: center;
  line-height: 20px;
}
.drop_no_auth .container .log_in, 
.drop_auth .container .my_profile{
  position: relative;
  width: 72px;
  height: 20px;
  cursor: pointer;
}
.drop_no_auth .container .register, 
.drop_auth .container .log_out{
  position: relative;
  width: 57px;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
  align-self: center;
}
.log_in:hover,
.my_profile:hover{
  font-weight: 500;
}
.register:hover,
.log_out:hover{
  font-weight: 500;
}
.modal_log_in,
.modal_register {
display: none;
flex-direction: column;
position: fixed;
width: 250px;
height: 262px;
color: #000;
background: #FFFFFF;
font-family: "Forum", serif;
z-index: 1;
}
.modal_register {
  width: 250px;
  height: 382px;
}
.modal_log_in h1,
.modal_register h1{
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  position: relative;
  width: 56px;
  height: 20px;
  left: 97px;
  margin-top: 20px;
  text-transform:uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.modal_register .form{
  width: 200px;
  height: 280px;
}
.closeModal {
	position: absolute;
  justify-content: end;
	top: 15px;
	right: 15px;
	width: 15px;
	height: 15px;
	opacity: 0.2;
	cursor: pointer;
  transition: opacity ease 0.5s;

	&:hover {
		opacity: 1;
	}
}
.modal_log_in,
.modal_register{
  left: 595px;
  top: 150px;
}

.closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	display: block;
	width: 21.11px;
	height: 3px;
	background: #000;
}

.closeModal::before {
	transform: rotate(45deg);
}

.closeModal::after {
	transform: rotate(-45deg);
}
.form {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  height: 160px;
  margin-left: 25px;
  margin-top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.form label{
  width: 164px;
  height: 20px;
  margin: 0;
}
.form input{
  margin: 0 0;
  padding: 0 0;
  position: relative;
  width: 199px;
  height: 20px;
  border: 1px solid #BB945F;
}
.form button{
  position: relative;
  width: 75px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
  font-family: 'Inter';
  font-weight: bold;
  border: #0C0C0E 1px solid;
  border-radius: 2px;
  background-color: #FFFFFF;
}
.form button:hover{
  border: #0C0C0E 2px solid;
  font-weight: 700;
}
.have_account {
  font-family: 'Inter';
  font-size: 10px;
  margin:14px 25px 0 0;
  text-align: center;
}
.have_account u {
  font-weight: bold;
  margin-left: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.modal_profile{
  display: flex;
  position: absolute;
  height: 400px;
  width: 600px;
  top: 150px;
  left: 500px;
  display: none;
  z-index: 1;
  background-color:#FFFFFF;
  font-family: 'Inter';
}
.modal_profile .logo {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 170px;
  height: 400px;
  background-color: #0C0C0E;
  color: #FFFFFF;
}
.modal_profile .logo .avatar{
  position: relative;
  width: 80px;
  height: 80px;
  align-self: center;
  text-align: center;
  align-content: center;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Inter';
  background-color: #FFFFFF;
  color: #BB945F;
}
.modal_profile .logo .avatar h1{
  font-weight: normal;
  font-size: 20px;
}
.modal_profile .name{
  position: relative;
  width: 120px;
  min-height: 30px;
  margin-top: 15px;
  align-self: center;
  align-content: center;
  background-color: #FFFFFF;
  color: #000000;
}
.modal_profile .name h1{
  font-weight: normal;
  width: 90px;
  font-size: 20px;
  line-height: 20px;
}
.modal_profile .form {
  display: flex;
  flex-direction: column;
  width: 430px;
  margin: 0;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.modal_profile .form h1 {
  position: relative;
  width: 207px;
  height: 20px;
  margin-left:20px;
  margin-top: 40px;
  text-transform:uppercase;
  font-family: "Forum", serif;
  font-size: 40px;
  font-weight: normal;
}
.modal_profile .form .closeModal {
  margin-top:25px;
}
.modal_profile .container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 20px;
  margin-top: 40px;
}
.cards_profile {
  display: flex;
  position: relative;
  gap: 20px;
  line-height: 20px;
  font-size: 20px;
}
.visits_info, 
.bonuses_info,
.books_info{
  display: flex;
  position: relative; 
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.union {
  display: flex;
  position: relative; 
  flex-direction: column;
  gap: 1px;
  width: 21px;
  height: 21px;
}
.union::before {
  content : '';
  position: relative; 
  display: block;
  width: 10px; 
  height: 10px;
  background:#BB945F;
  border-radius: 50%; 
  left: 50%; 
  transform: translateX(-50%);
}    
.union::after {
  content : '';
  display: block;
  position:relative;
  width: 20px;
  height: 10px;
  background:#BB945F;
  border-radius: 50% / 100% 100% 0 0 ;
  left: 50%;
  transform: translateX(-50%);
}
.star {
  display: flex;
  position: relative; 
  flex-direction: column;
  width: 21px;
  height: 21px;
  background-color: #BB945F;
}
.books_info .rectangle{
  display: flex;
  position: relative; 
  flex-direction: column;
  width: 21px;
  height: 21px;
  background-color: #BB945F;
}
.cards_profile .amount {
  font-size: 10px;
}
.star{
  position: relative;
  display: block;
  width: 20px;
  height: 21px;
  flex: none;
  flex-grow: 0;
}
.book_rectangle{
 display: flex;
 width: 20px;
 height: 21px;
 background-color: #BB945F;
}
.book_rectangle_first{
  position: relative;
  width: 1px;
 height: 21px;
 z-index: 1;
 margin-left: 1px;
 background-color: #FFFFFF;
}
.book_rectangle_second{
position: relative;
width: 1px;
height: 19px;
z-index: 1;
background: #826844;
}

.rented_books {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.rented_books h2{
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 0px;
  margin-top: 20px;
}
.rented_books ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  gap: 10px;
  letter-spacing: 0.02em;
  color: #000;
}

.card_number{
  display: flex;
  gap:15px;
  margin-top: 40px;
  align-items: center;
}
.card_number .number{
  color: #BB945F;
}
.card_number .icon_copy{
display: flex;
width: 14px;
height: 12px;
background-color:#FFFFFF;
}
.card_number .icon_copy .rectangle_first, .rectangle_second{
  width:10px;
  height: 10px;
  border: 1px solid #000000;
  border-radius: 1px;
}
.card_number .icon_copy .rectangle_first{
  position: relative;
  background-color: #FFFFFF;
  z-index: 2;
}
.card_number .icon_copy .rectangle_second{
  position: relative;
  margin-left: -10px;
  margin-top: -2px;
}

.welcome{
  width: 100%;
  height: 600px;
  background-image: url("./img/Welcome.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome_container {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 220px;
}
.welcome_title {  
  width: 520px;
  height: 150px;
  left: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 40px;
  color: #FFFFFF;
  background-color: #0C0C0E;
  line-height: 50px;
  padding: 35px 40px;
}
.about {
  display: flex;
  position: relative;
  width: 1440px;
  height: 837px;
  left: 0px;
  letter-spacing: 2px;
  color: #0C0C0E;
  background: #FFFFFF;
}
.about_title {
  position: relative;
  width: 106px;
  height: 61px;
  margin-top: 20px;
  margin-left: 667px;
  justify-content: center;
  line-height: 40px;
  color: black;
}
.about_title h2 {
  margin: 0 0;
  height: 40px;
  font-size: 40px;
  letter-spacing: 2px;
}
.about .rectangle {
  margin-top: 20px;
  margin-left: 28px;
  height: 1px;
  width: 50px;
  border: none;
  background-color: #0C0C0E;
}
.slider_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  text-align: center;
  width: 100%;
  left: 0px;
  top: 121px;
  line-height: 40px;
}
.slider_container  span {
  height: 40px;
  font-size: 20px;
  letter-spacing: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: #000000;
}
#frame{
  margin: 20px 20px 0 20px;
  overflow: hidden;
  width: 1400px;
  height: 560px;
}
#slider{
  display: flex;
  margin: 0 0;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}
.slide_image{
  display: flex; 
  position: relative;
  gap: 25px;
  width: 450px;
  height: 560px;
  margin-right: 25px;
  object-fit: cover;
  flex-shrink: 0;
}
.pagination_circle{
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}
.active{
  background: #BB945F;
}
#bottom{
  display: flex;
  column-gap: 10px;
  margin-top: 40px;
}
.favorites {
  position: relative;
  width: 1440px;
  margin: 0 0;
  margin-top: 20px;
  line-height: 40px;
  background-color: #FFFFFF;
}
.favorites_title {
  justify-content: center;
  width: 160px;
  height: 61px;
  margin-left: 640px;
  vertical-align: middle;
  text-align: center;
  color: black;
}
.favorites_title h2 {
  margin: 0 0;
  font-size: 40px;
  letter-spacing: 2px;
}
.favorites .rectangle {
  position: absolute;
  margin-top: 20px;
  margin-left: 55px;
  height: 1px;
  width: 50px;
  letter-spacing: 2px;
  border: none;
  background-color: #0C0C0E;
}
.favorites_container {
  position: relative;
  width: 100%;
  margin-left: 20px;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.seasons {
  display: flex;
  position: relative;
  height: 24px;
  width: 900px;
  margin: 40px 0 0 0;
  padding: 0;
  font-weight: 400;
  color: #000000;
  align-self: center;
}
label {
  cursor: pointer;
  width: 104px;
  height: 24px;
}
.seasons li {
  margin-right: 90px;
  line-height: 24px;
}
.seasons span {
  margin-left: 20px;
}
.real_radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.custom_radio {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 2px solid #000000;
  border-radius: 50%;
  vertical-align: text-top;
  text-align: center;
  margin: 5px 0px 5px 0;
  padding: 0 0;
}
.custom_radio::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #000000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.real_radio:checked + .custom_radio::before {
  transform: translate(-50%, -50%) scale(1);
}
.favorites_items {
  display: flex;
  flex-wrap: wrap;
  column-count: 2;
  column-gap: 220px;
  width: 100%;
  height: 100%;
  margin: 40px 20px 0 20px;
}

.book_page{
  display: inline-block;
}

.favorite_iteme {
  display: flex;
  text-align: start;
  width: 590px;
  height: 555px;
  margin-bottom: 39px;
  line-height: 40px;
  letter-spacing: 2px;
}

.favorite_iteme .first_book,
.favorite_iteme .second_book,
.favorite_iteme .third_book,
.favorite_iteme .fourth_book {
  display: inline-block;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  background-repeat: no-repeat;
  width: 550px;
  height: 555px;
}

.favorite_iteme img {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 300px;
  margin-left: -160px;
  margin-top: 256px;
  object-fit: cover;
}

.first_book_title,
.second_book_title,
.third_book_title,
.fourth_book_title {
  width: auto;
  height: 40px;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 20px;
  align-items: top;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.first_book_title .rectangle,
.second_book_title .rectangle,
.third_book_title .rectangle,
.fourth_book_title .rectangle {
  width: 60px;
  height: 1px;
  margin: 0;
  background-color: #BB945F;
}

.book_container{
  margin-left: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.first_book_container_title,
.second_book_container_title,
.third_book_container_title,
.fourth_book_container_title {
  max-width: 457px;
  min-width: 129px;
  height: 80px;
  align-items: center;
  text-align: start;
  font-weight: bold;
}

.first_book_container_title h1,
.second_book_container_title h1,
.third_book_container_title h1,
.fourth_book_container_title h1 {
  text-transform: uppercase;
  margin: 0 0;
  font-weight: bold;
}

.first_book_container_inner,
.second_book_container_inner,
.third_book_container_inner,
.fourth_book_container_inner {
  width: 357px;
  height: 320px;
  line-height: 40px;
  margin-top: 20px;
  text-transform: capitalize;
  word-wrap: break-word;
}

.book_container button {
  width: 75px;
  height: 30px;
  margin-top: 15px;
  text-align: center;
  align-items: center;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  border: #0C0C0E 1px solid;
  border-radius: 2px;
  background-color: #FFFFFF;
}
.book_container button:hover{
  border: #0C0C0E 2px solid;
}
.book_container button.own_book{
  border: #BB945F 1px solid;
  color: #BB945F;
}
.modal_buy{
  position: fixed;
  flex-direction: column;
  display: none;
  width: 650px;
  height: 540px;
  background-color: #FFFFFF;
  z-index: 1;
}
.modal_buy .closeModal_buy {
  position: absolute;
  justify-content: end;
	top: 25px;
	right: 25px;
	width: 15px;
	height: 15px;
	opacity: 0.2;
	cursor: pointer;
  transition: opacity ease 0.5s;
	&:hover {
		opacity: 1;
  }
}
.closeModal_buy::before,
.closeModal_buy::after {
	content: '';
	position: absolute;
	display: block;
	width: 21.11px;
	height: 3px;
	background: #FFFFFF
}

.closeModal_buy::before {
	transform: rotate(45deg);
}

.closeModal_buy::after {
	transform: rotate(-45deg);
}
.modal_buy .headline{
  position: relative;
  margin: 0;
  height: 60px;
  text-align: center;
  align-content: center;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Forum", serif;
  font-weight: 400;
  color: #FFFFFF;
  background-color:#0C0C0E;
}
.modal_buy .container{
  display: flex;
  margin: 30px 40px;
  gap: 40px;
  height: 480px;
  text-align:start;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000000;
}
.modal_buy .form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  letter-spacing: 0.02em;
  line-height: 20px;
}
.modal_buy .form input{
  margin-top: 10px;
  height: 20px;
}
.modal_buy .form_bank_card label{
  margin-top: 10px;
}
.modal_buy .form_cardholder input{
  margin-bottom: 10px;
}
.form_bank_card {
  display: flex;
  position: relative;
  flex-direction: column;
}
.form_bank_card .expiration_code{
  display: flex;
  gap: 10px;
}
.form_bank_card .month,
.form_bank_card .year,
.form_bank_card .cvc{
  width: 45px;
  height: 20px;
}
.modal_buy .note {
  position: relative;
  width: 330px;
  height: 150px;
  font-size: 15px;
  letter-spacing: 2px;
  color: #8E8E8E;
  line-height: 20px;
}
.modal_buy .form .buy{
  display: flex;
  gap: 25px;
}
.modal_buy .form .buy .price{
  align-self: flex-end;
  font-weight: bold;
  letter-spacing: 2px;
}
.coffee_shop {
  width: 1440px;
  height: 841px;
  margin: 0 0;
  background-color:#FFFFFF;
  }
.coffee_shop_title {
  position: relative;
  width: auto;
  height: 61px;
  margin-left: 610px;
  color: black;
  }
  .coffee_shop_title h2 {
  margin: 0 0;
  align-items: top;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 40px;
  }
  .coffee_shop .rectangle {
  margin: 20px 85px 0 85px;
  height: 1px;
  width: 50px;
  border: none;
  background-color: #0C0C0E;
  }
  .coffee_shop_container {
  position: relative;
  width: 1400px;
  height: 120px;
  text-align: center;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000000;
  }
  .coffee_shop_menu {
  display: flex;
  width: 1440px;
  margin: 40px 20px 0 20px;
  }
  .first_menu {
  display: inline-block;
  margin-right: 480px;
  width: 438px;
  height: 520px;
  text-align: start;
  }
  .first_menu_title {
  width: 235px;
  height: 40px;
  font-size: 40px;
  letter-spacing: 2px;
  color: #BB945F;
  }
  .first_menu_iteme {
  display: flex;
  position: relative;
  width: 438px;
  height: 40px;
  margin: 40px 0;
  font-size: 20px;
  align-items: center;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  }
  .first_menu_iteme span {
  width: 202px;
  height: 40px; 
  display: flex;
  align-items: center;
  }
  .first_menu_iteme .rectangle {
  display: inline;
  width: 100px;
  height: 1px;
  margin: 20px 60px;
  background-color: #BB945F;
  }
  .first_menu_iteme .price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 40px;
    font-family: "Forum", serif;
    letter-spacing: 2px;
    }
  .second_menu {
  display: inline-block;
  width: 482px;
  height: 520px;
  text-align: end;
  justify-content: flex-end;
  line-height: 40px;
  }
  .second_menu_title {
  width: auto;
  height: 40px;
  font-size: 40px;
  letter-spacing: 2px;
  color: #BB945F;
  }
  .second_menu_iteme {
  display: flex;
  position: relative;
  gap: 60px;
  width: 482px;
  height: 40px;
  margin: 40px 0;
  font-size: 20px;
  text-align: left;
  align-items: center;
  letter-spacing: 2px;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  align-self: center;
  }
  .second_menu_iteme span {
  width: 260px;
  height: 40px; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }
  .second_menu_iteme .rectangle {
  display: inline;
  width: 100px;
  height: 1px;
  margin: 0;
  background-color: #BB945F;
  }

  .second_menu_iteme .price {
    width: 31px;
    height: 40px;
  }
  .contacts {
  width: 100%;
  height: 575px;
  background-color:#FFFFFF;
  }
  .contacts_title {
  position: relative;
  width: auto;
  height: 61px;
  margin-left: 600px;
  justify-content: center;
  line-height: 40px;
  color: black;
  }
  .contacts_title h2 {
  margin: 0 0;
  height: 40px;
  font-size: 40px;
  letter-spacing: 2px;
  }
  .contacts .rectangle {
  margin: 20px 95px 0 95px;
  height: 1px;
  width: 50px;
  border: none;
  background-color: #0C0C0E;
  }
  .contacts_container {
  display: flex;
  width: 1400px;
  height: 414px;
  text-align: left;
  margin: 40px 20px;
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: #000000;
  }
  .contacts_info {
   position: relative;
   width: 503px;
   height: 308px;
   margin: 0 0;
   text-transform: capitalize;
   padding-right: 201px;
   line-height: 40px;
  }
  .contacts_info_title {
  font-weight: bold;
  }
  .phone_info {
  width: 520px;
  height: 160px;
  white-space: pre-line; 

  }
  .staff{
  margin-top: 40px;
  }
  .staff span, h1 {
  font-weight: bold;
  }
  .contacts_container img {
  width: 696px;
  height: 414px;
  }
  .library_card,
  .library_card_authorized {
    width: 100%;
    height: 614px;
    line-height: 40px;
    background-color:#FFFFFF;
    flex-direction: column;
  }
  .library_card_authorized{
    display: none;
  }
  .card_title {
    position: relative;
    width: auto;
    height: 61px;
    margin-left: 534px;
    justify-content: center;
    color: black;
  }
  .card_title h2 {
    margin: 0 0;
    height: 40px;
    font-size: 40px;
    letter-spacing: 2px;
  }
  .library_card .rectangle,
  .library_card_authorized .rectangle {
    margin: 20px 161px 0 161px;
    height: 1px;
    width: 50px;
    border: none;
    background-color: #0C0C0E;
  }
  .card_container {
    display: flex;
    margin: 40px 20px;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    color: #000000;
  }
  .find_card {
    display: inline-block;
    width: 600px;
    height: 453px;
    margin: 0 0;
    font-size: 30px;
    letter-spacing: 0.02em;
  }
  .find_card_title {
    text-align: center;
  }
  .card_body {
    position: relative;
    line-height: 40px;
    width: 600px;
    height: 387px;
    margin-top: 30px;
    background-color: #FFFFFF;
    border: #BB945F 3px solid;
    box-shadow: 0 3px 3px 3px #8E8E8E;
  }
  .card_field {
    width: 560px;
    height: 272px;
    margin: 20px 20px;
    background-color: #BB945F;
    font-family: "Forum", serif;
  }
  .card_field h1 {
    margin: 0 0;
    padding: 20px 246px 20px 20px;
    align-items: center;
    height: 50px;
    width: auto;
    font-weight: normal;
  }
  .input_name,
  .input_number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 520px;
    height: 66px;
    margin: 0 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    color: #8E8E8E;
    font-family: "Forum", serif;
    line-height: 50px;
    font-size: 30px;
  }
  
  .input_number {
    margin-top: 25px;
  }
  .button_card {
    width: 242px;
    height: 44px;
    border: #0C0C0E 1px solid;
    border-radius: 2px;
    margin: 0px 179px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    background-color: #FFFFFF;
  }
  .get_card {
    display: inline-block;
    position: relative;
    width: 456px;
    height: 293px;
    margin-left: 344px;
    text-align: end;
  }
  .get_card_title {
    font-family: "Forum", serif;
    font-size: 30px;
    letter-spacing: 0.02em;
  }
  .get_info {
    width: 456px;
    min-height: 120px;
    max-height: 160px;
    margin-top: 35px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 40px;
  }
  .get_card .sign_up {
    width: 75px;
    height: 30px;
    margin-top: 35px;
    text-align: center;
    align-items: center;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    border: #0C0C0E 1px solid;
    border-radius: 2px;
    background-color: #FFFFFF;
  }
  .get_card .log_in,
  .get_card .profile_btn{
    width: 75px;
    height: 30px;
    margin-top: 35px;
    margin-left: 20px;
    text-align: center;
    align-items: center;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    border: #0C0C0E 1px solid;
    border-radius: 2px;
    background-color: #FFFFFF;
  }

  .library_card_authorized .find_card{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center ;
    width: 600px;
    height: 453px;
  }
  .library_card_authorized .card_field{
    margin-bottom: 10px;
  }
  .library_card_authorized .cards_profile{
    position: relative;
    font-size: 10px;
    margin-left:215px ;
  }
  .library_card_authorized .cards_profile .union,
  .library_card_authorized .cards_profile .star,
  .library_card_authorized .cards_profile .rectangle{
    width: 20px;
    height: 21px;
  }
  .get_info .profile_btn{
    margin-top: 35px;
  }
  footer {
    display: flex;
    width: 1440px;
    height: 250px;
    background-color: #0C0C0E;
  }
  .frame {
    display: inline-block;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
  }
  .first_frame, 
  .second_frame {
    display: flex;
    height: 40px;
    width: 1400px;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
  }
  .first_frame {
    padding: 20px 20px 0px 20px;
  }
  .second_frame {
    padding: 10px 20px 0px 20px;
  }
  .social_media {
    display: flex;
    height: 24px;
    width: 102px;
    margin-right: 1147px;
  }
  .location 
  .social_media img{
    display: inline-block;
    height: 40px;
  }
  .location {
    margin-right: 0;
    width: 229px;
  }
  .social_media{
    margin-top: 8px;
    justify-content: start;
    align-items: center;
  }
  .social_media img{
    padding-right: 15px;
  }
  .time_weekdays,
  .time_weekends {
    display: inline-block;
    height: 40px;
    text-align: end;
  }
  .frame_up .rectangle {
    display: inline-block;
    width: 1400px;
    height: 1px;
    margin: 30px 20px 44px 20px;
    background-color: #ffffff;
    }
    .third_frame {
      display: flex;
      width: 1400px;
      height: 22px;
      font-size: 20px;
      letter-spacing: 2px;
      margin: 0 20px 44px 20px;
    }
    .right,
    .center,
    .left {
      display: inline-block;
    }
    .center {
      padding: 0 435px 0 494px;
      width: auto;
    }